.directoryLine {
    box-sizing: border-box;
    margin: 0px 12px;
    font-size: 26px;
    line-height: 50px;
    padding: 0px 12px;
    cursor: pointer;
    border-collapse: collapse;
    border-top: 1px solid black;
}

.directoryLine:hover {
    background-color: #dddddd;
}

.directoryItem {
    padding-left: 8px;
    display: inline-block;
}

.folderIcon, .fileIcon {
    height: 32px;
    vertical-align: middle;
}

.fileIcon {
    padding-bottom: 6px;
}

.folderIcon {
    padding-bottom: 6px;
}